<div class="flex h-full flex-col min-h-dvh border-r border-gray-200 bg-gray-100 dark:border-white/10 dark:bg-black/10">
    <div class="flex h-16 shrink-0 items-center px-6">
        <img src="img/logo-light.png" alt="Boise State University Logo" class="h-15 w-auto dark:hidden" />
        <img src="img/logo-dark.png" alt="Boise State University Logo" class="h-15 w-auto not-dark:hidden" />
    </div>

    <div class="shrink-0 px-6 pb-5">
        <button (click)="newSession()" type="button" class="rounded-full bg-primary-500 px-4 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-primary-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500 dark:bg-primary-500 dark:shadow-none dark:hover:bg-primary-400 dark:focus-visible:outline-primary-00">New Chat</button>
    </div>

    <nav class="flex-1 overflow-y-auto px-6 pb-4">
        <app-conversation-list></app-conversation-list>
    </nav>
</div>